.column-container {
  margin: 10px;
  border: 1px solid lightgrey;
  min-width: 252px;
  display: flex;
  flex-direction: column;
}

.column-title {
  padding: 10px;
  font-family: SFProDisplay;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.lead-list {
  padding: 5px;
  flex-grow: 1;
  min-height: 100px;
}