.main-content__movie {
  display: flex;
  margin-bottom: 3px;
  background-color: white;
  align-items: center;
}

.main-content__movie-details {
  margin: 20px;
  display: flex;
  flex: 1 1 50%;
  justify-content: space-between;
  align-items: center;
}

.main-content__movie-details__title-native {
  font-size: 25px;
}

.main-content__movie-details__year {
  margin-bottom: 20px;
}

.main-content__movie-details_right__add-review-button {
  text-decoration: none;
  background-color: $color-ripe-lemon;
  color: $color-mine-shaft;
  font-size: 25px;
  padding: 0 5px;
  border-radius: 3px;
  margin-left: 2px;
}

.main-content__movie-details_center select {
  width: 150px;
  font-size: 28px;
  border: 1px solid $color-mine-shaft;
  height: 34px;
  background: black;
  color: $color-ripe-lemon;
}

.main-content__movie-details_center-form {
  width: 200px;
  height: 34px;
  border: 1px solid #111;
  border-radius: 3px;
  overflow: hidden;
  background: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX24728543.jpg) 96% / 20% no-repeat;
}

.form-button {
  font-size: 28px;
}

.main-content__movie-details__rating {
  background: url(http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Actions-rating-icon.png) 96%/30% no-repeat;
  width: 200px;
  height: 55px;
  position: relative;
}

.main-content__movie-details__rating-count {
  position: absolute;
  right: 25px;
  top: 22px;
}

