.card {
  width: 240px;
  height: 75px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid lightgrey;
  border-radius: 3px;
  border-left: solid 3px #7a64ff;
  font-family: SFProDisplay;
  font-size: 12px;
  text-decoration: none;
}

.card:hover .card:active .card:focus {
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 7px 17px -6px rgba(0, 0, 0, 0.2);
}

.full-lead-name {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
